{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}

{{ $data := .Data }}
{{ $type := .Type }}

<paper-menu>
  {{ range $key, $value := .Data.Terms.ByCount }}
    {{ $term := .Term }}
    {{ $pages := .Pages }}
    {{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $type $term) }}
         <paper-item>
           <div class="categories" >
             <a href="{{ .URL }}"><h3> <i class="iconfont icon-folder" style="padding-right: 3px"></i> {{ $term | humanize}}  </h3> </a>
               {{ range first 5 $pages }}
                <article class="archive-item">
                <a href="{{ .URL }}" class="archive-item-link">{{ .Title }}</a>
                </article>
              {{ end }}
               {{ if gt (len $pages) 5 }}
                  <span class="more-post">
                    <a href="{{ .Permalink }}" class="more-post-link">More  >></a>
               </span>
               {{ end }}
           </div>
        </paper-item>
    {{ end }}
  {{ end }}
</paper-menu>

{{ partial "footer.html" . }}